{#
/**
 * @file
 * Theme override to display a block with background pattern
 *
 * The background-color is optional, so the padding has to be applied
 * only if there is a background present.
 *
 * Available variables:
 * - content: Content of the block.
 * - bg_color: Bootstrap class for the background
 * - text_color: Bootstrap class for the text
 * - padding: Padding utility class
 */
#}
{%
  set classes = [
    'test'
  ]
%}

{%
  set content_classes = [
    'test-content',
    settings.content.layout_bg_color,
    settings.content.layout_padding
  ]
%}

{%
  set sidebar_classes = [
    'test-sidebar',
    settings.sidebar.layout_bg_color,
    settings.sidebar.layout_padding
  ]
%}

{% set top = settings.sidebar.layout_top.value ~ settings.sidebar.layout_top.unit %}

{# {{ kint() }} #}

<section {{ attributes.addClass(classes) }}>

  {% if settings.layout_image_url %}
    <div class="icon-test" style="width: 6rem;">
      <img src="{{ settings.layout_image_url }}" class="card-img-top">
    </div>
  {% endif %}

  <div {{ region_attributes.content.addClass(content_classes) }}>
    {{ content.content }}
  </div>
  <div {{ region_attributes.sidebar.addClass(sidebar_classes) }} style="top: {{ top }};">
    {{ content.sidebar }}
  </div>
</section>
